.advisory-page {
  font-family: "Poppins", sans-serif;
  color: #333;
  text-align: center;
}

.banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

/* Ensure slick slider doesn't interfere with our height calculations */
.banner .slick-slider,
.banner .slick-list,
.banner .slick-track {
  height: 100% !important;
}

.banner .slick-slide {
  height: auto !important;
}

.banner .slick-slide>div {
  height: 100%;
}

.banner-container {
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: 80vh !important;
  overflow: hidden;
}

.banner-image,
.banner-video {
  width: 100%;
  height: 80vh !important;
  object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {

  .banner-container,
  .banner-image,
  .banner-video {
    height: 50vh !important;
  }
}

@media (max-width: 768px) {

  .banner-container,
  .banner-image,
  .banner-video {
    height: 40vh !important;
  }
}

.FOT-section {
  background-color: #f7f7f7;
  padding: 50px 0 30px 0;
}

.OT-section {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.trustee-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
}

/* Right top line */
.trustee-title::before {
  content: "";
  position: absolute;
  right: 460px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f15a29;
}

/* Right bottom line */
.trustee-title::after {
  content: "";
  position: absolute;
  right: 440px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f15a29;
}

/* Left side */
.trustee-title span::before {
  content: "";
  position: absolute;
  left: 460px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f15a29;
}

.trustee-title span::after {
  content: "";
  position: absolute;
  left: 440px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f15a29;
}

.mentors-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
}

/* Right top line */
.mentors-title::before {
  content: "";
  position: absolute;
  right: 560px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f15a29;
}

/* Right bottom line */
.mentors-title::after {
  content: "";
  position: absolute;
  right: 540px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f15a29;
}

/* Left side */
.mentors-title span::before {
  content: "";
  position: absolute;
  left: 560px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f15a29;
}

.mentors-title span::after {
  content: "";
  position: absolute;
  left: 540px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f15a29;
}

.management-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
}

/* Right top line */
.management-title::before {
  content: "";
  position: absolute;
  right: 470px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f15a29;
}

/* Right bottom line */
.management-title::after {
  content: "";
  position: absolute;
  right: 450px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f15a29;
}

/* Left side */
.management-title span::before {
  content: "";
  position: absolute;
  left: 470px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f15a29;
}

.management-title span::after {
  content: "";
  position: absolute;
  left: 450px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f15a29;
}

.useful-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
}

/* Right top line */
.useful-title::before {
  content: "";
  position: absolute;
  right: 460px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f15a29;
}

/* Right bottom line */
.useful-title::after {
  content: "";
  position: absolute;
  right: 440px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f15a29;
}

/* Left side */
.useful-title span::before {
  content: "";
  position: absolute;
  left: 460px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f15a29;
}

.useful-title span::after {
  content: "";
  position: absolute;
  left: 440px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f15a29;
}

.empty-box {
  border: 2px dashed #ccc;
  padding: 40px;
  margin: 0 auto;
  width: 80%;
  border-radius: 8px;
}

.team-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.team-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
}

.team-card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
  border: 3px solid #f2f2f2;
}

.team-card img:hover {
  transform: scale(1.1);
}

.team-card h3 {
  font-size: 1.1rem;
  margin: 10px 0 10px;
  line-height: 4px;
}

.team-card .role {
  color: #222;
  font-size: 1rem;
}

.team-card:not(:has(img)) {
  justify-content: center;
  min-height: 220px;
  padding: 40px 15px;
}

/* Useful Section */
.useful-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 82%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.useful-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 16px;
  text-align: center;
  transition: transform 0.3s;
}

.useful-card:hover {
  transform: translateY(-5px);
}

.useful-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.useful-card p {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.use-btn {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  text-decoration: none;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  font-family: inherit;
  transition: color 0.3s ease;
}

.use-btn:hover {
  color: #000;
}

.use-btn::after {
  content: "›";
  font-size: 1.1rem;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.use-btn:hover::after {
  transform: translateX(5px);
}

/* Responsive */

@media (max-width: 1280px) {
  .FOT-section {
    padding-top: 45px;
  }

  .team-container {
    width: 90%;
  }

  .useful-container {
    width: 87%;
  }

  .empty-box {
    width: 86%;
  }

  .banner {
    height: auto;
  }

  .trustee-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .trustee-title::before {
    right: 420px;
  }

  /* Right bottom line */
  .trustee-title::after {
    right: 400px;
  }

  /* Left side */
  .trustee-title span::before {
    left: 420px;
  }

  .trustee-title span::after {
    left: 400px;
  }

  .mentors-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .mentors-title::before {
    right: 480px;
  }

  /* Right bottom line */
  .mentors-title::after {
    right: 460px;
  }

  /* Left side */
  .mentors-title span::before {
    left: 480px;
  }

  .mentors-title span::after {
    left: 460px;
  }

  .management-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .management-title::before {
    right: 430px;
  }

  /* Right bottom line */
  .management-title::after {
    right: 410px;
  }

  /* Left side */
  .management-title span::before {
    left: 430px;
  }

  .management-title span::after {
    left: 410px;
  }

  .useful-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .useful-title::before {
    right: 420px;
  }

  /* Right bottom line */
  .useful-title::after {
    right: 400px;
  }

  /* Left side */
  .useful-title span::before {
    left: 420px;
  }

  .useful-title span::after {
    left: 400px;
  }
}

@media (max-width: 1024px) {
  .banner {
    height: auto;
  }

  .FOT-section {
    padding-top: 40px;
  }

  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .trustee-title {
    font-size: 1.8rem;
    line-height: 34px;
    margin-bottom: 2rem;
  }

  .trustee-title::before {
    right: 180px;
  }

  /* Right bottom line */
  .trustee-title::after {
    right: 160px;
  }

  /* Left side */
  .trustee-title span::before {
    left: 180px;
  }

  .trustee-title span::after {
    left: 160px;
  }

  .mentors-title {
    font-size: 1.8rem;
    line-height: 34px;
    margin-bottom: 2rem;
  }

  .mentors-title::before {
    right: 240px;
  }

  /* Right bottom line */
  .mentors-title::after {
    right: 220px;
  }

  /* Left side */
  .mentors-title span::before {
    left: 240px;
  }

  .mentors-title span::after {
    left: 220px;
  }

  .useful-title {
    font-size: 1.8rem;
    line-height: 34px;
    margin-bottom: 2rem;
  }

  .useful-title::before {
    right: 180px;
  }

  /* Right bottom line */
  .useful-title::after {
    right: 160px;
  }

  /* Left side */
  .useful-title span::before {
    left: 180px;
  }

  .useful-title span::after {
    left: 160px;
  }
}

@media (max-width: 768px) {
  .banner {
    margin-top: 80px;
  }

  .team-card {
    flex: 1 1 100%;
    /* 1 per row */
    max-width: 100%;
  }

  .team-card img {
    width: 150px;
    height: 150px;
  }

  .useful-container {
    flex-wrap: wrap;
    gap: 15px;
  }

  .useful-card {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 30px 16px;
  }

  .trustee-title {
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 2rem;
  }

  .trustee-title::before {
    display: none;
  }

  /* Right bottom line */
  .trustee-title::after {
    display: none;
  }

  /* Left side */
  .trustee-title span::before {
    display: none;
  }

  .trustee-title span::after {
    display: none;
  }

  .mentors-title {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 2rem;
  }

  .mentors-title::before {
    display: none;
  }

  /* Right bottom line */
  .mentors-title::after {
    display: none;
  }

  /* Left side */
  .mentors-title span::before {
    display: none;
  }

  .mentors-title span::after {
    display: none;
  }

  .management-title {
    font-size: 33px;
    line-height: 34px;
    margin-bottom: 2rem;
  }

  .management-title::before {
    right: 40px;
  }

  /* Right bottom line */
  .management-title::after {
    right: 20px;
  }

  /* Left side */
  .management-title span::before {
    left: 40px;
  }

  .management-title span::after {
    left: 20px;
  }

  .useful-title {
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 2rem;
  }

  .useful-title::before {
    display: none;
  }

  /* Right bottom line */
  .useful-title::after {
    display: none;
  }

  /* Left side */
  .useful-title span::before {
    display: none;
  }

  .useful-title span::after {
    display: none;
  }

  .team-container {
    grid-template-columns: 1fr;
  }

  .team-card {
    padding: 20px 15px;
  }
}

@media (min-width: 1601px) {
  .banner img {
    height: 70vh;
  }
}